@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CRUD Person example</h1>
    <p class="lead">This is an example exercise using ASP.NET MVC with SQL Server.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Person App</h2>
        <p>@Html.ActionLink("Person","Index","Person")</p>
    </div>
</div>